---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	 <!-- heroSection -->
    <div> 
        <!--Frame 27-->
        <div>
            <!--Frame 5-->
            <div>
                <p></p>
            </div>
            <!--Frame 6-->
            <div>
                <form action="">
                    <button>

                    </button>
                    <input type="text">
                </form>
            </div>
            <!--Frame 11-->
            <div>
                <p></p>
                <button></button>
                <button></button>
                <button></button>
                <button></button>
            </div>
        </div>
    </div>
    <!--Top-categorias-->
    <div>
        <!--Frame 17-->
        <div></div>
        <!--Frame 24-->
        <div>
            <!--Frame 25-->
            <div>
                <!--Frame 19-->
              <div></div>
              <!--Caracteristicas-->
              <div></div>
            </div>
            <!--Frame 21-->
            <div>
                <!--Frame 19-->
                <div></div>
                <!--caracteristicas-->
                <div></div>
            </div>
            <!--Frame 26-->
            <div>
                 <!--Frame 19-->
                <div></div>
                <!--caracteristicas-->
                <div></div>
            </div>
        </div>
    </div>
    <!--HeroSection2-->
    <div>
        <!--Frame 13-->
        <div>
            <p></p>
            <!--Frame 14-->
            <div>
               <!--Frame 15--> 
            </div>
        </div>
    </div>
    <!--Top-Productos-->
    <div>
            <!--Frame 17-->
            <div>
                <p></p>
            </div>
            <!--Frame 24-->
            <div>
                <!--Frame 21-->
                <div>
                    <!--Frame 19-->
                    <div></div>
                    <!--caracteristicas-->
                    <div></div>
                </div>
                <!--Frame 22-->
                <div>
                    <!--Frame 19-->
                    <div></div>
                    <!--caracteristicas-->
                    <div></div>
                </div>
                <!--Frame 23-->
                <div>
                    <!--Frame 19-->
                    <div></div>
                    <!--caracteristicas-->
                    <div></div>
                </div>
        </div>
    </div>
    <!--Footer-->
    <div>
        <!--Feame 25-->
        <div>
            <p></p>
            <p></p>
        </div>
    </div>
</Layout>
