---
import Categorias from "../components/categorias.astro";
import Tarjeta from "../components/Tarjeta.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

const Categori= [
    {
        title: 'Titutlo 1',
    },

    {
        title: 'Titutlo 2',
    },

    {
        title: 'Titutlo 3',
    },

]


const products = [
    {
        title: 'Titutlo 1',
        description: '30',
        price: 8
    },
    {
        title: 'Titutlo 2',
        description: '30',
        price: 8
    },
    {
        title: 'Titutlo 3',
        description: '30',
        price: 8
    },

    
]


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <!-- heroSection -->
    <div>
        <!--Frame 27-->
        <div>
            <!--Frame 5-->
            <div class="hero-section-title">
                <p>
                    Todo para el tatuador Venezolano: Productos de Calidad y
                    Formacion Profesional
                </p>
            </div>
            <!--Frame 6-->
            
            <div>
                <div class="buscar-categorias">
                    <form action="">
                        <button> </button>
                        <input type="text" placeholder="Buscar Categorias" />
                    </form>
                </div>
                <!--Frame 11-->
                <div class="hero-section">
                    <p>Mas populares...</p>
                    <button>Categoria principal</button>
                    <button>Categoria principal</button>
                    <button>Categoria principal</button>
                    <button>Categoria principal</button>
                </div>
            </div>
        </div>
    </div>
    <!--Top-categorias-->
    <div>
        <!--Frame 17-->
        <div class="Titulos">
            <h2>Las mejores Categorias</h2>
        </div>
        <!--Frame 24-->
        <div class="Tarjetas">
        {
                Categori.map(categoria => (

                    <Tarjeta title={categoria.title}></Tarjeta>
                ))
            }

      
        </div>
    </div>
    <!--HeroSection2-->
    <div class="HeroSection2">
        <!--Frame 13-->
        <div class="titulo-2">
            <p>
                Conviértete en un Artista del Tatuaje en Venezuela: Insumos
                Profesionales y Aprendizaje Integral.
            </p>
        </div>
            <!--Frame 14-->
            <div>
                <!--Frame 15-->
                <div>
                    <p>
                        La habilidad que cambiará tu vida te espera. ¡Inscríbete
                        hoy y comienza a construir tu camino como tatuador!
                    </p>
                    <!--Frame 16 -->
                    <div>
                        <button class="boton-comprar">Inscribirse</button>
                        <button class="boton-info">Mas info...</button>
                    </div>
                </div>
                <!--Ellipse 1 -->
                <div>
                    <img src="./img/img-1" alt="" />
            </div>
        </div>
    </div>
    <!--Top-Productos-->
    <div>
        <!--Frame 17-->
        <div class="Titulos">
            <p>Las mejores Productos</p>
        </div>
        <!--Frame 24-->
        <div class="Tarjetas">
            {
                products.map(product => (

                    <Tarjeta title={product.title} description={product.description} price={product.price}></Tarjeta>
                ))
            }

        </div>
    </div>
    <!--Footer-->
        <!--Feame 25-->
        <div class="footer">
            <p>info que va en el footer</p>
            <p>Desarrolado por dubar zambranoo</p>
            <div class="red-sociales">
                <Icon name="mdi:instagram" />
                <Icon name="mdi:facebook" />
                <Icon name="mdi:telegram" />
            </div>
        </div>


</Layout>

<style>

    .Tarjetas {
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
        justify-content: center;
        margin-bottom: 20px;
    }

    .Titulos{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5% 20%;
        background-color: #f8f9fa;
        font-size: 2rem;
    }

    .hero-section-title{
        display: flex; 
        align-items: center;
        justify-content: center;
        padding: 8% 10% ;
        background-color: #f8f9fa;
        font-size: 56PX;
    }
    .hero-section{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    
    .hero-section p {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    
        .buscar-categorias{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    .hero-section button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        margin: 5px;
        background-color: #EAEAEA;
        color: #1e1e1e;
        border-radius: 5px;
       
    }

    .HeroSection2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5% 20%;
        background-color: #EAEAEA;


    }

    .titulo-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5% 20%;
        background-color: #f8f9fa;
        font-size: 2rem;
    }

    .boton-comprar{
        
        background-color: #277AFF;
        color: #fff;
        border-radius: 10px;
        padding:  10px 15px;
    }

    .boton-info{
        
        background-color: #fff;
        color: #1e1e1e;
        border-radius: 10px;
        padding:  10px 15px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: #1e1e1e;
        color: white;
    }

    .red-sociales {
        display: flex;
        gap: 10px;
    }
