---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Nosotros</h1>
    <p><span>En Eternal Ink</span>, no solo vendemos productos; somos parte de la comunidad del tatuaje en Venezuela. Desde nuestra fundación, nos dedicamos a ser el pilar para artistas, ofreciendo insumos de la más alta calidad que garantizan que cada trazo sea una obra de arte duradera. Entendemos que cada tatuaje cuenta una historia, y nuestro compromiso es asegurar que tengas las herramientas perfectas para contarla.

Nuestra misión va más allá de ser un proveedor. Queremos ser tu aliado estratégico, ese que te acompaña en cada sesión, en cada diseño y en cada nuevo desafío. Por eso, seleccionamos cuidadosamente cada artículo de nuestro catálogo, desde agujas de precisión y tintas vibrantes hasta máquinas ergonómicas y mobiliario para estudio. Creemos en la innovación y en el potencial ilimitado del arte corporal, y nos esforzamos por ofrecerte lo último en tecnología y tendencias para que tu creatividad nunca tenga límites.

</p>
</Layout>

<style>
h1 {
    text-align: center;
    margin-top: 20px;
}
p {
    text-align: justify;
    margin: 20px 60px;
    font-size: 1.2em;
    line-height: 1.6;
}
</style>