---
interface Props {
    description: string;
    title: string;
    price: number;

}
const { title, price, description } = Astro.props;
---
<div>
    <!--Frame 19-->
    <div>
        <img src="/img-5.png" alt="" />
    </div>
    <!--caracteristicas-->
    <div>
        <!--caracteristicas del procucto -->
        <div>
            <h3>{title}</h3>
            <p>Precio: {price}</p>
            <p>{description}</p>
        </div>
        <!--boton comprar -->
        <div>
            <button>Comprar</button>
        </div>
    </div>
</div>
