<div>
    <h3>Titulo de la tarjera</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel illum iusto quos voluptatem incidunt suscipit eveniet, eius, dolorum, dolore ea veniam possimus! Esse expedita incidunt odit aperiam inventore ipsum ducimus.</p>
    <button>Var mas</button>
</div>