---
interface Props {
    description: string;
    title: string;
    price: number;

}
const {} = Astro.props;
---
<div>
    <!--Frame 19-->
    <div>
        <img src="/img-5.png" alt="" />
    </div>
    <!--caracteristicas-->
    <div>
        <!--caracteristicas del procucto -->
        <div>
            <h3>Pistola para tatuar</h3>
            <p>Precio:</p>
            <p>Stock:</p>
        </div>
        <!--boton comprar -->
        <div>
            <button>Comprar</button>
        </div>
    </div>
</div>
