---
interface Props {
    description: string;
    title: string;
    price: number;
    
}
const { title, price, description } = Astro.props;
---


    <div class="items-producto">
        <!--Frame 19-->
        <div class="img-producto">
            <img src="/img-5.png" alt="" />
        </div>
        <!--caracteristicas-->
        <div class="items-caracteristicas">
            <!--caracteristicas del procucto -->
            <div class="caracteristicas-producto">
                <h3>{title}</h3>
                <p>Precio: {price}</p>
                <p>Stock:{description}</p>
            </div>
            <!--boton comprar -->
            <div class="div-boton-comprar">
                <button class="boton-comprar">Comprar</button>
            </div>
        </div>
    </div>
</div>
    
    
    <style>

    .items-producto{      
        background-color: #EAEAEA;
        margin-bottom: 10px;
        border-radius: 15px;
        width: 300px;
    }

    .items-caracteristicas{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 10px 20px;
    }
    
    .img-producto{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }

    .boton-comprar{
        
        background-color: #277AFF;
        color: #fff;
        border-radius: 10px;
        padding: 10px 15px;
    }

</style>
